﻿@using Dotpay.Common
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="/assets/plugins/DataTables/css/data-table.css" rel="stylesheet" />
<link href="/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">用户管理 <small> 系统注册用户查看、管理</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">用户列表</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>邮箱</th> 
                                    <th>是否锁定</th>
                                    <th>是否实名</th>
                                    <th>激活时间</th>
                                    <th>最后登陆时间</th>
                                    <th>最后登陆IP</th> 
                                </tr>
                            </thead>
                        </table>  
                        <!-- #lock user dialog-->
                        <div class="modal fade" tabindex="-1" id="lockUserDialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form class="form-horizontal form-bordered" data-parsley-validate="true" id="formLockUser">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">确认要锁定吗？</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="lockLoginName">用户名 :</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" type="text" id="lockLoginName" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="reason">锁定原因* :</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <textarea class="form-control" id="reason" name="reason" autocomplete="off" placeholder="请输入锁定原因" data-parsley-required="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-sm btn-white" data-dismiss="modal">关闭</a>
                                            <button type="submit" class="btn btn-sm btn-success">锁定</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- #unlock user dialog-->
                        <div class="modal fade" tabindex="-1" id="unlockUserDialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form class="form-horizontal form-bordered" data-parsley-validate="true" id="formUnlockUser">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">确认解除锁定吗？</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="unlockLoginName">用户名</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" type="text" id="unlockLoginName" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-sm btn-white" data-dismiss="modal">关闭</a>
                                            <button type="submit" class="btn btn-sm btn-success">解除锁定</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- #view tf-key dialog-->
                        <div class="modal fade" tabindex="-1" id="viewTFKeyDialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form class="form-horizontal form-bordered">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">查看谷歌秘钥</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="tfLoginName">用户名</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" type="text" id="tfLoginName" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="tfKey">TF-KEY</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" type="text" id="tfKey" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-sm btn-white" data-dismiss="modal">关闭</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script>
    App.restartGlobalFunction();
    App.setPageTitle('点付管理后台--管理员列表');
    $.getScript('/assets/jss/user-list.js').done(function () {
        UserList.init();
    });
</script>
<!-- ================== END PAGE LEVEL JS ================== -->
