﻿@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 2 })
<div class="profile-main">
    <script src="~/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/minified/i18n/jquery.ui.datepicker-@(ViewBag.Lang).min.js"></script>
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <div class="sub-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/records/deposit">充值记录<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/records/transfer">转账记录<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container deposit">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="dateStart">充值时间：</label>
                        <input type="text" class="form-control" readonly="readonly" id="dateStart" value="@DateTime.Now.AddDays(-30).ToShortDateString()">
                    </div>
                    <div class="form-group">
                        <label for="dateEnd">-</label>
                        <input type="text" class="form-control" readonly="readonly" id="dateEnd" value="@DateTime.Now.ToShortDateString()">
                    </div>
                    <button type="button" id="btnSearch" class="btn btn-default btn-info">过滤</button>
                </form>

            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">充值记录</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="recordTable" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>流水号</th>
                                <th class="hide600">充值方式</th>
                                <th>充值金额</th>
                                <th>状态</th>
                                <th>日期</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            @*<div class="panel-footer text-right">
                    <ul class="pagination  pagination-sm m-t-0 m-b-10">
                        <li class="disabled"><a href="javascript:;">«</a></li>
                        <li><a href="javascript:;">上一页</a></li>
                        <li class="active"><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">下一页</a></li>
                        <li><a href="javascript:;">»</a></li>
                    </ul>
                </div>*@
        </div>

        <script>
            $(document).ready(function () {
                $.getScript('/assets/js/deposit-records.js').done(function () {
                    DepositRecord.init();
                });
                $("#dateStart,#dateEnd").datepicker();
            });
        </script>
    </div>
</div>
