﻿@using Dotpay.Common
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="/assets/plugins/DataTables/css/data-table.css" rel="stylesheet" />
<link href="/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">待处理支付宝充值 <small> 来自支付宝的充值</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">充值列表</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>用户</th>
                                    <th>流水号</th>
                                    <th>金额</th>
                                    <th>支付方式</th>
                                    <th>备注</th>
                                    <th>创建时间</th>
                                </tr>
                            </thead>
                        </table>
                        <!-- #confirm deposit dialog-->
                        <div class="modal fade" tabindex="-1" id="confirmDepositDialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form class="form-horizontal form-bordered" data-parsley-validate id="formConfirmDeposit">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">确认充值有效</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="seqno">流水号 :</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" type="text" id="seqno" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="amount">金额* :</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" type="text" id="amount" name="amount" autocomplete="off" placeholder="请输入金额再次核实" data-parsley-type="number" data-parsley-required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4" for="transferNo">支付宝交易号* :</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input class="form-control" type="text" id="transferNo" name="transferNo" autocomplete="off" placeholder="请输入支付宝交易号" data-parsley-required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-sm btn-white" data-dismiss="modal">关闭</a>
                                            <button type="submit" class="btn btn-sm btn-success">确认</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script>
    App.restartGlobalFunction();
    App.setPageTitle('点付管理后台--待处理支付宝充值列表');

    $.getScript('/assets/jss/deposit-list.js').done(function () {
        DepositList.initAlipayPendingDepositListTable();
    }); 

    $.getScript('/assets/plugins/parsley/dist/parsley.js').done(function () {
        $.getScript('/assets/plugins/parsley/src/i18n/zh_cn.js').done(function () {
            window.ParsleyValidator.setLocale('zh_cn');
        });
    });
</script>
<!-- ================== END PAGE LEVEL JS ================== -->
