﻿@using Dotpay.Common
@using Dotpay.Common.Enum
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>点付</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="点付 , 您的快捷支付专家" name="description" />
    <script src="~/assets/plugins/jquery/jquery-1.11.2.min.js"></script>
</head>
<body>
    @if (ViewBag.Result == true)
    {
        @("redirct...please wait")
        <form id="payform" style="display: none" action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST">
            <label>account</label> <input type="text" name="optEmail" value="@ViewBag.Account" />
            <label>amount</label> <input type="text" name="payAmount" value="@ViewBag.Amount" />
            <label>memo</label> <input type="text" name="title" value="@ViewBag.Seq" />
            <input type="hidden" name="memo" value="@ViewBag.Seq" />
        </form>
    }
    else
    {
        @("Invalid link.")
    }
    <script>
        $("#payform").submit();
    </script>
</body>
</html>
