﻿ <!-- begin #spliter -->
<div id="spliter" class="content bg-black-darker has-bg" data-scrollview="true">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="assets/img/quote-bg.jpg" alt="Quote" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInLeft">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12 quote">
                <i class="fa fa-quote-left"></i> Passion leads to design, design leads to performance, <br />
                performance leads to <span class="text-theme">success</span>!
                <i class="fa fa-quote-right"></i>
                <small>Sean Themes, Developer Teams in Malaysia</small>
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #spliter -->