﻿  @*<!-- begin #footer -->
<div id="footer" class="footer">
    <div class="container">
        <div class="footer-brand">
            <div class="footer-brand-logo"></div>
            Color Admin
        </div>
        <p>
            &copy; Copyright Color Admin 2014 <br />
            An admin & front end theme with serious impact. Created by <a href="#">SeanTheme</a>
        </p>
        <p class="social-list">
            <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
            <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
            <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
            <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
            <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
        </p>
    </div>
</div>
<!-- end #footer -->*@
  <!-- begin #footer -->
<div id="footer" class="footer common navbar-fixed-bottom">
    <div class="container">
        <p>
            &copy; <a href="#">Dotpay</a>  2015  your payment expert.
        </p>
    </div>
</div>
<!-- end #footer -->