﻿@using Dotpay.Language
<!-- begin #home -->
<div id="home" class="content has-bg home">
    <link href="~/assets/css/login.css" rel="stylesheet" />
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="assets/img/banner1.jpg" alt="Home" />
    </div>
    <!-- end content-bg -->
    @Html.Partial("_IndexHeader")
    <!-- begin container -->
    <div class="container home-content">
        <h1>@Html.Lang("Welcome to dotpay")</h1>
        <h3>@Html.Lang("YourQuickPayExperts")</h3>
        <p>
            @Html.Lang("indexBannerPayeasyPayCool")<br />
            @Html.Lang("ChooseDotpayChooseEasyLife")
        </p>
        <a href="#" id="btnIndexLogin" class="btn indexbtn btn-theme">@Html.Lang("Sign In")</a>
        <a href="/signup" class="btn indexbtn btn-outline">@Html.Lang("Sign Up")</a>
    </div>
    <div class="modal fade in" role="dialog" tabindex="-1" id="signinDialog">
        <div class="modal-content login-wraper">
            <form class="form-horizontal login-form" id="formSignin">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title login-title">@Html.Lang("Sign in to") <span class="blue">@Html.Lang("DotpayLogoTitle")</span></h4>
                    <div id="signinMessage" class="signinMessage">&nbsp;</div>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4" for="loginName">@Html.Lang("loginFieldUserName") :</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="text" id="loginName" name="loginName" autocomplete="off" placeholder="@Html.Lang("loginFieldUserNamePlaceholder")"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4" for="password">@Html.Lang("loginFieldPassword") :</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="password" id="password" name="password" placeholder="@Html.Lang("loginFieldPasswordPlaceholder")"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 col-sm-12 text-right">
                        <a class="link" href="/signup">@Html.Lang("Sign Up")</a> <a class="link" href="/forget">@Html.Lang("Forget password?")</a>
                        <button type="submit" class="btn btn-sm btn-success col-md-offset-1">@Html.Lang("loginBtnText")</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function () {
                $.getScript('/assets/js/login.js').done(function () {
                    LoginAndRegister.handleLoginForm();
                });
            });
        </script>
    </div>
    @*<div class="modal fade" role="dialog" tabindex="-1" id="signupDialog">
            <div class="modal-content register-wraper">
                <form class="form-horizontal register-form" data-parsley-validate="true" id="formSignup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title login-title">Register to <span class="blue">Dotpay</span></h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="loginName">User Name :</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="loginName" name="loginName" autocomplete="off" placeholder="Login name or email" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="signupEmail">Password :</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="signupEmail" name="email" placeholder="Email address" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="loginName">User Name :</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="loginName" name="loginName" autocomplete="off" placeholder="Login name or email" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="loginPassword">Password :</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="password" id="loginPassword" name="loginPassword" placeholder="Password" data-parsley-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12 col-sm-12 text-right">
                            Alread have an account?<a class="link" href="/signup">Sign In</a>
                            <button type="submit" class="btn btn-sm btn-success col-md-offset-1">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>*@
    ><!-- end container -->
</div>
<!-- end #home -->
