﻿@using Dotpay.Language
<!-- begin #topbar -->
<div id="topbar" class="topbar navbar navbar-default navbar-fixed-top text-right hide600">
    <div class="container">
        <ul class="nav navbar-nav navbar-right nav-topbar">
            <li><a href="#">下午好 @(ViewBag.CurrentUser != null ? ViewBag.CurrentUser.Email : "")</a></li>
            <li><a href="/logout">退出</a></li>
        </ul>
        @*<i class="welcome">下午好</i> <a>个人信息</a><a>退出</a>*@
    </div>
</div>
<!-- end #topbar --> 