﻿@using Dotpay.Common
@using Dotpay.Common.Enum
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 4 })
<div class="profile-main">
    <div class="container deposit">
        <div class="col-sm-10 col-sm-offset-1">
            @if (@ViewBag.TransferTransaction != null)
            {
                <div class="note note-success" id="noticeBox">
                    <h4>转账成功</h4>
                    <p>
                        @{
                            Bank bank = ViewBag.TransferTransaction.Bank;
                            string bankAccount = ViewBag.TransferTransaction.Destination;
                        }
                        恭喜，向 @Html.Lang(bank.ToLangString())@(bankAccount.Substring(0, 2) + "********" + bankAccount.Substring(bankAccount.Length-1))@(ViewBag.TransferTransaction.RealName)转账 @ViewBag.TransferTransaction.Amount.ToString("0.##") 已成功提交

                    </p>
                    <p>
                        工作时间我们会在2个小时之内处理完毕，非工作时间24小时内处理完毕
                    </p>

                </div>
            }
            else
            {
                <div class="fail box" id="failBox"><img src="/assets/img/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("systemError")!</strong><br><span id="spanFailBox">@Html.Lang("systemProcessError")</span></div>
            }
        </div>
        <script>
            $(document).ready(function () {
                $.getScript('/assets/js/deposit.js').done(function () {
                    Deposit.initAlipayDeposit();
                });
            });
        </script>
    </div>
</div>
