﻿@using Dotpay.Common
@using Dotpay.Common.Enum
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 4 })
<div class="profile-main">
    <div class="container deposit">
        <div class="col-sm-10 col-sm-offset-1">
            @if (@ViewBag.TransferTransaction != null)
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>转账到Ripple-确认</h4>
                    </div>
                    <div class="panel-body">
                        <h3>请确认您的转账信息</h3>
                        <hr />
                        <div class="note" id="noticeBox" style="display: none;"></div>
                        <form id="transferConfirmForm" class="form-horizontal" role="form" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ripple地址：</label>
                                <div class="col-sm-8">
                                    <label class="control-label">
                                        @ViewBag.TransferTransaction.Destination
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">付款金额：</label>
                                <div class="col-sm-8">
                                    <label class="control-label">
                                        <input type="hidden" id="txid" name="txid" value="@ViewBag.TransferTransaction.TransferTransactionId" />
                                        @ViewBag.TransferTransaction.Amount.ToString("0.##")
                                    </label>
                                    <a href="#">收费标准</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">付款说明：</label>
                                <div class="col-sm-8">
                                    <label class="control-label">
                                        @ViewBag.TransferTransaction.Memo
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="paymentpassword" class="col-sm-2 control-label">支付密码：</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="paymentpassword" name="paymentpassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button type="submit" class="btn btn-primary">确认并付款</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="fail box" id="failBox"><img src="/assets/img/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("systemError")!</strong><br><span id="spanFailBox">@Html.Lang("systemProcessError")</span></div>
            }
        </div>
        <script>
            $(document).ready(function () {
                $.getScript('/assets/js/transfer.js').done(function () {
                    Transfer.initConfrimTransferToRipple();
                });
            });
        </script>
    </div>
</div>
