﻿@using Dotpay.Common
@using Dotpay.Common.Enum
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 4 })
<div class="profile-main">
    <div class="sub-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">转账到点付<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/alipay">转账到支付宝<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/taobao">转账到银行<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/taobao">转账到Ripple<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container deposit">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div>
                <h4>转账到点付</h4>
            </div>
            <hr />
            <form id="transferFrom" class="form-horizontal" role="form" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-2 control-label">收款人：</label>
                    <div class="col-sm-8">
                        <label class="control-label">
                            @ViewBag.Receiver.Email
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">付款金额：</label>
                    <div class="col-sm-8">
                        <label class="control-label">
                            <input type="hidden" id="orderID" name="orderID" value="@ViewBag.Transfer.SequenceNo" />
                            @ViewBag.Transfer.Amount
                        </label>
                        <a href="#">收费标准</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">付款说明：</label>
                    <div class="col-sm-8">
                        <label class="control-label">
                            转账
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="paypassword" class="col-sm-2 control-label">支付密码：</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="paypassword" name="paypassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">确认并付款</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.getScript('/assets/js/transfer.js').done(function () {
                Transfer.initTransferToDotpay();
            });
        });
    </script>
</div>