.blue { color: #00acac; }
/* $LOGIN  */
.login-wraper { -webkit-border-radius: 15px; color: #333333 !important; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); position: absolute; top: 50%; left: 50%; display: block; margin-top: -185px; margin-left: -235px; /*padding: 25px;*/ width: 420px; height: 320px; background: white; text-align: center; }
.login-form .login-header { padding: 10px; }
.login-form .login-title { font-family: 'Lato', Helvetica, sans-serif; font-size: 36px; font-weight: 300; color: #333333 !important; -webkit-font-smoothing: subpixel-antialiased; }
.login-form .login-content { border-radius: 15px; }
.login-form .link { padding: 15px 10px 5px 10px; vertical-align: middle; display: inline-block; }
/* login form */
.login-form label { font-family: 'Lato', Helvetica, sans-serif; font-size: 14px; color: #333333; font-weight: 300; }
.signinMessage { height: 25px; }
.login-single-wraper { margin-bottom: 0px !important; }

/* $REGISTER */
.register-content { min-height: 720px; background: url(../img/regbg.png) no-repeat; -moz-background-size: 100% 100%; background-size: 100% 100%; }
.register-wraper { -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); margin-top: 25px; padding-top: 25px; padding-bottom: 25px; background: white; text-align: center; }

.register-form { margin: 0 auto; }
    .register-form legend { margin-bottom: 15px; border-bottom: none; }
    .register-form .btn { padding: 10px 40px; background-image: none; box-shadow: none; }

.register-info-wraper { background: rgba(0, 0, 0, 0.2); }

.register-info { position: relative; padding: 25px; }
    .register-info ul { margin-right: 25px; }
        .register-info ul li { margin-bottom: 25px; }
    .register-info h1 { font-size: 42px; font-family: "PT Sans", Arial, Helvetica, sans-serif; line-height: 55px; font-weight: 700; text-align: right; padding-bottom: 50px; color: white; }
    .register-info ul { text-align: right; color: white; font-size: 24px; font-family: "PT Sans", Arial, Helvetica, sans-serif; }
.register-form label { font-family: 'Lato', Helvetica, sans-serif; font-size: 14px; color: #333333; font-weight: 300; }

@media (max-width: 980px) {
    .login-wraper { position: relative; top: 0; margin-top: 25px; }
}

@media (max-width: 495px) {
    .login-wraper { width: auto; height: auto; margin-left: 0; margin-right: 0; left: 0; }
    .register-form { width: auto; }
        .register-form input { display: block; margin: 0 auto; }
        .register-form .btn { display: block; margin: 0 auto; }
}

/*active*/
.active-content { }
.active-header { color: #00acac; }
.active-des { text-indent: 1em; }
    .active-des a, .active-des a:link, .active-des a:visited, .active-des a:active { text-indent: 2em; }
        .active-des a:hover { color: #1D8888; }

/*index button*/
.indexbtn { padding: 15px 30px; }
