﻿@using Dotpay.Common
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="/assets/plugins/DataTables/css/data-table.css" rel="stylesheet" />
<link href="/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
<link href="/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">点付转出失败交易历史 <small>失败的交易会自动退款给用户</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">转账失败交易列表</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>用户</th>
                                    <th>流水号</th>
                                    <th>收款方式</th>
                                    <th>收款账号</th>
                                    <th>金额</th>
                                    <th>处理人</th>
                                    <th>失败原因</th>
                                    <th>备注</th>
                                    <th>创建时间</th>
                                    <th>处理时间</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<!-- ================== BEGIN BASE JS ================== -->
<script src="~/assets/plugins/parsley/dist/parsley.js"></script>
<script src="~/assets/plugins/parsley/src/i18n/zh_cn.js"></script>
<!-- ================== END BASE JS ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script>
    App.restartGlobalFunction();
    App.setPageTitle('点付管理后台--已标记失败的转账历史');
    $.getScript('/assets/jss/notification.js').done(function () {
        Notification.init();
    });
    $.getScript('/assets/jss/dotpayToFi-list.js').done(function () {
        DotpayToFiList.initFailList();
    });
</script>
<!-- ================== END PAGE LEVEL JS ================== -->
