﻿@using Dotpay.Admin.ViewModel
@using Dotpay.Common
<ul class="nav">
    @{
        var user = (ManagerIdentity)ViewBag.CurrentUser;
    }
    <li class="nav-header">管理导航</li>
    @*<li class="has-sub">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="ion-monitor"></i>
            <span>Dashboard</span>
        </a>
        <ul class="sub-menu">
            <li><a href="index.html#ajax/index.html">Dashboard v1</a></li>
            <li><a href="index.html#ajax/index_v2.html">Dashboard v2</a></li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <span class="badge pull-right">10</span>
            <i class="ion-archive"></i>
            <span>Email</span>
        </a>
        <ul class="sub-menu">
            <li><a href="index.html#ajax/email_inbox.html">Inbox v1</a></li>
            <li><a href="index.html#ajax/email_inbox_v2.html">Inbox v2</a></li>
            <li><a href="index.html#ajax/email_compose.html">Compose</a></li>
            <li><a href="index.html#ajax/email_detail.html">Detail</a></li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="ion-paintbrush"></i>
            <span>UI Elements <span class="label label-theme m-l-5">NEW</span></span>
        </a>
        <ul class="sub-menu">
            <li><a href="index.html#ajax/ui_general.html">General</a></li>
            <li><a href="index.html#ajax/ui_typography.html">Typography</a></li>
            <li><a href="index.html#ajax/ui_tabs_accordions.html">Tabs & Accordions</a></li>
            <li><a href="index.html#ajax/ui_unlimited_tabs.html">Unlimited Nav Tabs <i class="ion-paper-airplane text-theme m-l-5"></i></a></li>
            <li><a href="index.html#ajax/ui_modal_notification.html">Modal & Notification</a></li>
            <li><a href="index.html#ajax/ui_widget_boxes.html">Widget Boxes</a></li>
            <li><a href="index.html#ajax/ui_media_object.html">Media Object</a></li>
            <li><a href="index.html#ajax/ui_buttons.html">Buttons</a></li>
            <li><a href="index.html#ajax/ui_icons.html">Icons</a></li>
            <li><a href="index.html#ajax/ui_simple_line_icons.html">Simple Line Icons</a></li>
            <li><a href="index.html#ajax/ui_ionicons.html">Ionicons</a></li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="ion-document-text"></i>
            <span>Form Stuff</span>
        </a>
        <ul class="sub-menu">
            <li><a href="index.html#ajax/form_elements.html">Form Elements</a></li>
            <li><a href="index.html#ajax/form_plugins.html">Form Plugins</a></li>
            <li><a href="index.html#ajax/form_slider_switcher.html">Form Slider + Switcher</a></li>
            <li><a href="index.html#ajax/form_validation.html">Form Validation</a></li>
            <li><a href="index.html#ajax/form_wizards.html">Wizards</a></li>
            <li><a href="index.html#ajax/form_wizards_validation.html">Wizards + Validation</a></li>
            <li><a href="index.html#ajax/form_wysiwyg.html">WYSIWYG</a></li>
            <li><a href="index.html#ajax/form_editable.html">X-Editable</a></li>
            <li><a href="index.html#ajax/form_multiple_upload.html">Multiple File Upload</a></li>
        </ul>
    </li>*@
    @if (user.Roles.Any(r => r == ManagerType.TransferManager || r == ManagerType.MaintenanceManager || r == ManagerType.DepositManager))
    {
        <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="ion-grid"></i>
                <span>充值管理 <span class="label label-theme m-l-5">Deposit</span></span>
            </a>
            <ul class="sub-menu">
                <li><a href="#/ajax/deposit/tx/alipaypendinglist">待处理支付宝充值</a></li>
                <li><a href="#/ajax/deposit/tx/pendinglist">待处理充值</a></li>
                <li><a href="#/ajax/deposit/tx/completelist">已完成充值<i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                <li><a href="#/ajax/deposit/tx/faillist">失败的充值</a></li>
            </ul>
        </li>
    }
    @*<li class="has-sub">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="ion-aperture"></i>
            <span>Front End</span>
        </a>
        <ul class="sub-menu">
            <li><a href="../../frontend/one-page-parallax/index.html" target="_blank">One Page Parallax</a></li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="ion-briefcase"></i>
            <span>Email Template</span>
        </a>
        <ul class="sub-menu">
            <li><a href="email_system.html">System Template</a></li>
            <li><a href="email_newsletter.html">Newsletter Template</a></li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="ion-pie-graph"></i>
            <span>Chart <span class="label label-theme m-l-5">NEW</span></span>
        </a>
        <ul class="sub-menu">
            <li><a href="index.html#ajax/chart-flot.html">Flot Chart</a></li>
            <li><a href="index.html#ajax/chart-morris.html">Morris Chart</a></li>
            <li><a href="index.html#ajax/chart-js.html">Chart JS <i class="ion-paper-airplane text-theme m-l-5"></i></a></li>
        </ul>
    </li>
    <li><a href="index.html#ajax/calendar.html"><i class="ion-calendar"></i> <span>Calendar</span></a></li>*@
    @if (user.Roles.Any(r => r == ManagerType.TransferManager || r == ManagerType.MaintenanceManager || r == ManagerType.DepositManager))
    {
        <li><a href="#/ajax/user"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
    }
    @if (user.Roles.Any(r => r == ManagerType.TransferManager))
    {
        <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-money"></i>
                <span>转账交易管理</span>
            </a>
            <ul class="sub-menu">
                <li><a href="#/ajax/dotpaytofi/pending">待处理转账</a></li>
                <li><a href="#/ajax/dotpaytofi/complete">已处理转账</a></li>
                <li><a href="#/ajax/dotpaytofi/fail">已退款转账</a></li>
            </ul>
        </li>
    }

    @if (user.Roles.Any(r => r == ManagerType.SuperUser || r == ManagerType.MaintenanceManager))
    {
        <li class="has-sub">
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <b class="caret pull-right"></b>
                <span>系统管理</span>
            </a>
            <ul class="sub-menu">
                <li><a href="#/ajax/manager">管理员列表</a></li>
                <li><a href="#/ajax/systemsetting/tofi">金融机构直转设置</a></li>
                <li><a href="#/ajax/systemsetting/todotpay">点付直转设置</a></li>
            </ul>
        </li>
    }
    <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>