﻿<div id="content" class="content">

    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Welcome <small>欢迎进入点付管理后台</small></h1>
    <!-- end page-header -->

    <p>
        控制台主页面，暂时留空
    </p>
</div>