﻿@using Dotpay.Language
<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-profile" data-state-change="disabled">
    <!-- begin container -->
    <div class="container">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/i" class="navbar-brand">
                <img alt="Brand" class="logo" src="/assets/img/logo2.png">
            </a>
        </div>
        <!-- end navbar-header -->
        <!-- begin navbar-collapse -->
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav nav-profile navbar-right ">
                <li @(ViewBag.ActiveIndex == 1 ? "class=active" : "")><a href="/i">我的点付</a></li>
                <li @(ViewBag.ActiveIndex == 2 ? "class=active" : "")><a href="/records/deposit">收支明细</a></li>
                <li @(ViewBag.ActiveIndex == 3 ? "class=active" : "")><a href="/deposit">充值</a></li>
                <li @(ViewBag.ActiveIndex == 4 ? "class=active" : "")><a href="/transfer">转账</a></li>
                <li @(ViewBag.ActiveIndex == 5 ? "class=active" : "")><a href="/profile">个人设置</a></li>
            </ul>
        </div>
        <!-- end navbar-collapse -->
    </div>
    <!-- end container -->
</div>
<!-- end #header -->
