﻿@using Dotpay.Common
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 5 })
<div class="profile-main">
    <div class="sub-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/profile">基本信息 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/profile/mobile">手机设置<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/profile/identityverify">实名认证<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/profile/modifyloginpwd">修改登录密码<i class="icon-chevron-right"></i></a>
                </li>
                <li class="active">
                    <a href="#">修改支付密码<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div>
                <h4>设置支付密码</h4>
            </div>
            <div>
                <span class="glyphicon glyphicon-info-sign"></span>
                <span class="desc">为您的资产多一层安全防护</span>
            </div>
            <hr />
            @if (!ViewBag.CurrentUser.IsInitPaymentPassword && ViewBag.Message != null)
            {
                <div class="note note-warning" id="noticeBox">@ViewBag.Message</div>
            }
            else
            {
                <div class="note" id="noticeBox" style="display: none;"></div>
            }
            @if (!ViewBag.CurrentUser.IsInitPaymentPassword)
            {
                <form id="setPaymentPasswordFrom" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-2 control-label">账户名</label>
                        <div class="col-sm-4 controls">
                            <label class="control-label">@ViewBag.CurrentUser.LoginName<span class="desc">@ViewBag.CurrentUser.Email</span></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-2 control-label" for="paymentpassword">请输入支付密码</label>
                        <div class="col-sm-4 controls">
                            <input class="form-control" id="paymentpassword" type="password" name="paymentpassword" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-2 control-label" for="confirmpassword">请再次确认支付密码</label>
                        <div class="col-sm-4 controls">
                            <input class="form-control" type="password" name="confirmpassword" id="confirmpassword" value="" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-md-4 col-lg-3  col-sm-offset-3 controls">
                            <input type="submit" class="btn btn-primary btn-large btn-block" value="确定">
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        您已设置过支付密码
                    </div>
                    <div class="panel-body form-horizontal">
                        <a href="/profile/fotgetpaymentpassword">忘记支付密码了?</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.getScript('/assets/js/setpaymentpwd.js').done(function () {
                SetPaymentPassword.init();
            });
        });
    </script>
</div>